Inserir Cliente

In [ ]:
INSERT INTO Cliente (CodCliente, Nome, CPF, Sexo, Estado, Cidade, Bairro, Numero, Rua, TelefoneFixo, TelefoneCelular)
VALUES (1, 'Maria Silva', '111.111.111-11', 'Feminino', 'S찾o Paulo', 'Itapira', 'Centro', '100', 'Rua A', '1111-1111', '99999-9999');

Inserir carro

<span style="color: #569cd6;">INSERT INTO</span> Carro (CodCarro, Placa, Marca, Modelo, Ano, Chassi, Cor)

<span style="color: #569cd6;">VALUES</span> (<span style="color: #b5cea8;">1</span>, <span style="color: #ce9178;">'ABC-1234'</span>, <span style="color: #ce9178;">'Ford'</span>, <span style="color: #ce9178;">'Fiesta'</span>, <span style="color: #ce9178;">'2018'</span>, <span style="color: #ce9178;">'ABC1234DEF5678'</span>, <span style="color: #ce9178;">'Prata'</span>);

Inserir ap처lice

In [ ]:
INSERT INTO Apolice (CodApolice, ValorCobertura, ValorFranquia, DataInicioVigencia, DataFimVigencia, Cliente_CodCliente, Carro_CodCarro)
VALUES (1, 50000.00, 1000.00, '2022-01-01', '2023-01-01', 1, 1);

Inserir sinistro

In [ ]:
INSERT INTO Sinistro (CodSinistro, HoraSinistro, DataSinistro, LocalSinistro, Condutor, Carro_CodCarro)
VALUES (1, 1430, '2022-06-01', 'Rua B', 'Jo찾o', 1);

Selecionar todos os clientes e suas ap처lices

In [ ]:
SELECT *
FROM Cliente
LEFT JOIN Apolice ON Cliente.CodCliente = Apolice.Cliente_CodCliente;

Selecionar todos os carros e seus sinistros

In [ ]:
SELECT *
FROM Carro
LEFT JOIN Sinistro ON Carro.CodCarro = Sinistro.Carro_CodCarro;