Inserir Cliente

In [6]:
USE seguradora;
INSERT INTO Cliente (CodCliente, Nome, CPF, Sexo, Estado, Cidade, Bairro, Numero, Rua, TelefoneFixo, TelefoneCelular)
VALUES (1, 'Maria Silva', '111.111.111-11', 'Feminino', 'São Paulo', 'Itapira', 'Centro', '100', 'Rua A', '1111-1111', '99999-9999');

Inserir carro

In [7]:
INSERT INTO Carro (CodCarro, Placa, Marca, Modelo, Ano, Chassi, Cor)

VALUES (1, 'ABC-1234', 'Ford', 'Fiesta', '2018', 'ABC1234DEF5678', 'Prata');

Inserir apólice

In [8]:
INSERT INTO Apolice (CodApolice, ValorCobertura, ValorFranquia, DataInicioVigencia, DataFimVigencia, Cliente_CodCliente, Carro_CodCarro)
VALUES (1, 50000.00, 1000.00, '2022-01-01', '2023-01-01', 1, 1);

: Msg 547, Level 16, State 0, Line 1
The INSERT statement conflicted with the CHECK constraint "chk_dataInicioVigencia". The conflict occurred in database "seguradora", table "dbo.Apolice", column 'DataInicioVigencia'.

Isso conflita com a regra definida anteriormente como esperado, agora precisamos checar se executa corretamente.

In [9]:
INSERT INTO Apolice (CodApolice, ValorCobertura, ValorFranquia, DataInicioVigencia, DataFimVigencia, Cliente_CodCliente, Carro_CodCarro)
VALUES (1, 50000.00, 1000.00, '2024-01-01', '2025-01-01', 1, 1);

Inserir sinistro

In [10]:
INSERT INTO Sinistro (CodSinistro, HoraSinistro, DataSinistro, LocalSinistro, Condutor, Carro_CodCarro)
VALUES (1, 1430, '2022-06-01', 'Rua B', 'João', 1);

Selecionar todos os clientes e suas apólices

In [11]:
SELECT *
FROM Cliente
LEFT JOIN Apolice ON Cliente.CodCliente = Apolice.Cliente_CodCliente;

CodCliente,Nome,CPF,Sexo,Estado,Cidade,Bairro,Numero,Rua,TelefoneFixo,TelefoneCelular,CodApolice,ValorCobertura,ValorFranquia,DataInicioVigencia,DataFimVigencia,Cliente_CodCliente,Carro_CodCarro
1,Maria Silva,111.111.111-11,Feminino,São Paulo,Itapira,Centro,100,Rua A,1111-1111,99999-9999,1,50000,1000,2024-01-01,2025-01-01,1,1

Selecionar todos os carros e seus sinistros

In [12]:
SELECT *
FROM Carro
LEFT JOIN Sinistro ON Carro.CodCarro = Sinistro.Carro_CodCarro;

CodCarro,Placa,Marca,Modelo,Ano,Chassi,Cor,CodSinistro,HoraSinistro,DataSinistro,LocalSinistro,Condutor,Carro_CodCarro
1,ABC-1234,Ford,Fiesta,2018,ABC1234DEF5678,Prata,1,1430,2022-06-01,Rua B,João,1